@model IEnumerable<Student>
@{
    ViewData["Title"] = "List";
}
<title>Course</title>
<head>
    <link rel="stylesheet" href="~/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

    <div class="container m-4">
        <div class="card mx-auto" style="width:500px;">
            <div class="card-header">
                Kursa Katılanlar
            </div>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phone</td>
                        <td>Confirm</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var student in Model)
                        {
                            <tr>
                                <td>@student.Name</td>
                                <td>@student.Email</td>
                                <td>@student.Phone</td>
                                <td>@student.Confirm</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>





</body>
